.hero{

     .section-hero{
         margin: 12% 10%;


         .img-hero{
               
               margin-left: 45vw;

               .img-data{
                    position: static;
                    margin-top:  -18vh;
                    height:  70vh;
                    width: auto;
                    animation-name: animation1;
                    animation-duration: 7s;
               }
         }

         .hero-content{
               height: 50vh;
               width: 40vw;
               background-color: rgb(255, 255, 255);
               position: static;
               margin: -50vh 0vw;

               .judul-hero{
                    font-size: 60px;
                    font-weight: bold;
                    animation-name: animation1;
                    animation-duration: 3s;
               }

               .p-hero{
                    font-size: 30px;
                    font-weight: 500;
                    color:rgb(187, 187, 187);
                    animation-name: animation1;
                    animation-duration: 4s;
               }

               .btn-hero{
                    margin-top: 20px;

                    .submit{
                         text-align: center;
                         height: 5vh;
                         width: 10vw;
                         background-color: rgb(196, 218, 0);
                         box-shadow: rgba(80, 80, 80, 0.04) 0 0 1px 0, rgba(155, 155, 155, 0.1) 0 3px 4px 0;
                         color: white;
                         font-size: 20px;
                         font-weight: 600;
                         border-radius: 50px;
                         animation-name: animation1;
                         animation-duration: 5s;
                    }
               }
         }
     }


     @keyframes animation1 {
          0% {
              
              margin-left: 10%;
              opacity: 0;
              position: static;
          }

          70% {
               margin-left: 0%;
               opacity: 10;
          }
     }
}