.about{
     
     .section-about{
          margin: 12% 10%;

          .section-img{
               margin-top: 10%;
               position: static;

               .img-about{
                    margin-top: 20vh;
                    height:  80vh;
                    width: auto;
                    // animation-name: animation1;
                    // animation-duration: 7s;
               }
          }
     }
}