.header-list{
     top: 0;
     position: sticky;
     background-color: rgb(255, 255, 255);
     box-shadow: rgba(80, 80, 80, 0.04) 0 0 1px 0, rgba(155, 155, 155, 0.1) 0 3px 4px 0;

     .nav-list{
       display: flex;
       flex-direction: row; 
       margin: 30px 50px;

       .img-logo{
        margin-left: 5%;
        width: 130px;
        height: 80px;
       }
       
       .ul-list{
          display: flex;
          flex-direction: row;
          margin-left: 45%;

          .list{
               margin: 30px 30px;
          }

          .list-item{
            font-weight: bold;
          }

          .list-item:hover{
            font-weight: bold;
            color: rgb(196, 218, 0);
          }
       }

       .btn{
          margin: 20px 20px;
          background-color: rgb(196, 218, 0);
          height: 5vh;
          width: 8vw;
          text-align: center;
          border-radius: 50px;
          font-size: 18px;
          font-weight: 500;
          color: white;
          box-shadow: rgba(80, 80, 80, 0.04) 0 0 1px 0, rgba(155, 155, 155, 0.1) 0 3px 4px 0;
       }
     }
}