.header-list{
     top: 0;
     position: sticky;

     .nav-list{
          font-size: 15px;
          font-weight: 600; 
          width: 100%;
          height: auto;
          background-color: aquamarine;
         

          .ul-list{
               display: flex;
               flex-direction: row;
               align-items: center;  

               .img-logo{
                    
               }

               .list{    
                    float: right;
                    text-decoration: none;
                    margin-left: 50px;
               }
          }
     }
}