.main-login{
    

     .card-login{
          margin:20vh 13vw;
          height: 70vh;
          width: 30vw;
          background-color: rgb(224, 145, 145);
          border-radius: 30px;
          box-shadow: 10px 10px 5px rgb(211, 211, 211);
     }
    
}